body{
    margin: 0;
    background-color: rgb(12, 16, 91);
    color: rgb(255, 255, 255);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar{
    background-color: rgb(7, 99, 190);
    padding: 10px;
    color:rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

#icon{
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

#rodape{
    text-align: center;
    background-color: rgb(7, 99, 190);
    padding: 10px;
}

#linguagens{
    background-color: rgb(66, 135, 255);
    padding: 10px;

    display: flex;
    justify-content: space-around;
}

#linguagens{
    background-color: rgb(3, 0, 52);
    padding: 3px;
    border-style: solid;
    border-color: rgb(236, 171, 29);
    text-align: center;

    display: flex;
    justify-content: space-around;
}

.imagem_linguagens{
    height: 200px;
    width: 300px;
    border-style: solid;
}



#sessao_linguagens{
    padding: 3px;
    border-style: solid;
    border-color: rgb(236, 171, 29);
    text-align: center;
}

#linguagemdeprogramacao{
    text-align: center;}

#simbolo{
width: 52px;
height: 52px;
margin-right: 10px;
}